<ng-container *ngIf="data$ | async as data">
  <header class="container-fluid">
    <div class="row justify-content-end py-1">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <span>{{data.wifiStrength.value}} {{data.wifiStrength.unit}} 📶</span> | <span>⚙️</span>
      </div>
    </div>
  </header>
  <main>

    <app-power-injection [powerInjection]="data.currentInjectedPower"></app-power-injection>

    {{data |json}}
    <div echarts [options]="options" [merge]="updateOptions" class="demo-chart"></div>
  </main>
</ng-container>
